.form-pro {
    height: 20px;
    width: fit-content;
    background-color: blanchedalmond;
}

.contact {
    margin-bottom: 2%;
}

.iden {
    position: absolute;
    margin-top: 0%;
}

.everything {
    margin-left: 5%;
}