* {
    font-size: 20px;
}

h1 {
    font-size: 46px;
}

#container {
    float: left;
    width: 27%;
    margin: 1%;
    padding: 1%;
    background-color: #eee;
    border: 1px solid black;
}

#container div {
    width: 100px;
    border: 1px solid black;
    margin: 5px;
}

.inside1 {
    display: block;
    background-color: lime;
}

.inside2 {
    display: inline;
    background-color: turquoise;
}

.inside3 {
    display: inline-block;
    background-color: orange;
}
